extend componentes/plantilla.pug
block contenidos
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido
        h2 #{titulos[0]}
        p.intro__text
          | Lorem Ipsum dolor sit amet
          | consectetur adipscing elit
          | Proin ex mi, gravida sit amet
          | imperdiet vel, sodales a mi.
          | Proin sit amet tellus nec nisl
          | bibendum ornare nect at augue.
          | Integer semper feugiat varius.
          span Proin sed urna quis orci interdum
        a.boton Leer Mas
    main.contenido
      +caja('imagen.png', titulos[1], 'Lorem ipsum dolor sit amet')
      +caja('imagen.png', titulos[2], 'Lorem ipsum dolor sit amet')
      +caja('imagen.png', titulos[3], 'Lorem ipsum dolor sit amet')