-var titulo = "Titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "Matias"

doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/ejercicio-pug.css")
  body
    header
      h1 PlatziGames
      if usuario
        a Hola #{usuario}
      else
        a.boton Registro
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido
        h2 #{titulos[0]}
        p
          | Lorem Ipsum dolor sit amet
          | consectetur adipscing elit
          | Proin ex mi, gravida sit amet
          | imperdiet vel, sodales a mi.
          | Proin sit amet tellus nec nisl
          | bibendum ornare nect at augue.
          | Integer semper feugiat varius.
          span Proin sed urna quis orci interdum
        a.boton Leer Mas
    ul
      each titulo in titulos
        li=titulo
      
      